@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  /* --font-open: var(--font-open-sans); */
  --font-open: "Open Sans", serif;

  /* color */
  --color-pink: hsl(322, 100%, 66%);
  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);

  /* background image */
  --background-image-hero-mo: url('../../public/sources/images/bg-hero-mobile.svg');
  --background-image-hero-de: url('../../public/sources/images/bg-hero-desktop.svg');
}

.example {
  background-image: url('../../public/sources/images/bg-hero-desktop.svg') ;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --example: hsl(192, 100%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 18;
}

.padding{
  @apply py-4 px-4
}

.shadow{
   box-shadow: 1px 1px 4px 1px #00252e18;
}

.icon {
  @apply flex items-center justify-center w-7 h-7 p-1 border-white border-[1px] rounded-full
  hover:text-pink hover:border-pink;
}

.line{
  @apply hover:underline whitespace-nowrap px-8
}
